/* index.html CSS */

/** All blocks */
.block {
    padding: 30px;
    overflow: hidden;
}

/* Header */
.block h1,
.block h3 {
    margin: 5px;
    margin-left: 0px;
}

/* Buttons */
.block .button {
    /* Color */
    background-color: rgba(255, 255, 255, 0.6);
    color: black;

    /* Dimensions */
    width: 150px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 20px;
    margin-bottom: 10px;

    /* Don't underline links in buttons */
    text-decoration: none;

    /* Round edges */
    border-radius: 10px;

    /* Other properties */
    display: inline-block;
    text-align: left;
    transition: 0.2s background-color;
}

.block .button.disabled {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.288);
}

.block .button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.block .button.disabled:hover {
    background-color: rgba(255, 255, 255, 0.288);
}

.block .button p {
    display: inline;
    vertical-align: middle;
}

/* Icons */
.block .icon {
    height: 38px;
    width: 38px;
    display: inline;
    vertical-align: middle;
    margin-top: 2px;
}

/** Welcome block */
.block.welcome {
    /* Background gradient */
    background: rgb(2, 0, 36);
    background: linear-gradient(302deg, rgba(2, 0, 36, 1) 0%, rgba(147, 0, 0, 1) 0%, rgba(210, 100, 0, 1) 42%, rgba(7, 0, 168, 1) 100%);

    /* Text settings */
    color: white;
    text-align: center;

    /* Size of the block */
    padding-top: 20vh;
    padding-bottom: 20vh;
}

/** Apps & Tools block */
.block.appsandtools {
    /* Colors */
    background-color: #233641;
    color: white;

    /* No padding for the Cards */
    padding-right: 0;
    padding-left: 0;
}

/* Text */
.block.appsandtools .text {
    /* Padding for the text */
    padding-right: 30px;
    padding-left: 30px;
}

/* Cards */
.block.appsandtools .card {
    /* Color */
    background-color: #3A6185;

    /* Dimensions */
    width: 180px;
    height: 270px;
    padding: 10px;

    /* Other properties */
    display: inline-block;
    margin-right: 30px;
    overflow: hidden;
    white-space: normal;

    /* Round edges */
    border-radius: 10px;
}

/* First card */
.block.appsandtools .card:first-child {
    /* Same padding as the text */
    margin-left: 30px;
}

/* text elements in cards */
.block.appsandtools .card p,
.block.appsandtools .card h2 {
    margin: 0px;
    margin-bottom: 10px;
}

/* Center the Title of the cards */
.block.appsandtools .card h2 {
    text-align: center;
}

/* Center the button */
.block.appsandtools .button {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 140px;
}

/* Center the button text */
.block.appsandtools .button p {
    line-height: 40px;
}

/* Give the "coming soon" card an other background color */
.block.appsandtools .card.comingsoon {
    background-color: rgba(58, 97, 133, 0.14);
}

/* Make the cards horizontally scrollable on small screens */
.block.appsandtools .cards {
    overflow: auto;
    white-space: nowrap;
}

.block.appsandtools p:not(.button, .subtitle) {
    height: 155px;
}

@media only screen and (min-width: 1300px) {
    .block.appsandtools {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1300px) {
    .block.appsandtools {
        padding-left: 50px;
        padding-right: 50px;
    }
}