/* General */
@font-face {
    /* Import the Roboto font */
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'), url('../assets/Roboto-Regular.ttf');
}

body {
    /* Change the margin to zero */
    margin: 0;

    /* Change the font */
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    overflow: overlay;
}

/* Enable smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Change the font weight */
h1,
h2,
h3,
h4,
h5,
p {
    font-weight: 400;
}

@media screen and (min-width:1000px) {
    ::-webkit-scrollbar {
        background-color: #0000001c;
        padding-top: 51px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #00000056;
    }
}

footer {
    text-align: center;
    color: white;
    background-color: #222222;
    padding:20px;
}

footer a {
    color: #548ffbeb;
}

footer p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.block .subtitle {
    font-size: 19px;
    margin: 5px 0px 0px 0px;
    display: block;
}